{% extends getPartial('page-design') %}

{% block PageBody %}

	<!-- Insert markup for homepage here -->
    <div class="fullbg-one">
        <div class="teaser">
            <h2>Geschmacksneutrale Instantpulver zum Einrühren</h2>
            <p>...wenn der Körper mehr braucht.</p>
            <p><a href="/shop" class="btn btn-small btn-primary " style="color:#fff;">Hier bestellen </a></p>
            <p>ACHTUNG: WEGEN DES WETTERS IST ZUR ZEIT KEIN VERSAND AB FLENSBURG MÖGLICH.</p>
        </div>
    </div>
    <div class="container">

    </div>
    <div class="fullbg-two">
        <div class="teaser">
            <img class="img-responsive" src="https://www.adozan.de/shop/wp-content/uploads/2016/03/adozan-nahrungsanreicherung-logo-neu.jpg">
            <h2>Geschmacksneutrales<br />Instantpulver. Reich an Energie<br />und Proteinen</h2>
            <p><a href="/shop" class="btn btn-small btn-primary " style="color:#fff;">Mehr lesen</a></p>
        </div>
    </div>
    <div class="fullbg-black">
        <div class="teaser">
            <h3>Adipositas / Magenverkleinerung</h3>
            <h3>Wer sich den Magen verkleinern lässt,<br />muss seine Ernährungsgewohnheiten umstellen.</h3>
            <h3>Adozan Eiweiß 100 hilft Ihnen dabei.</h3>
            <p><a href="/anwendung/adipositas-magenverkleinerung" class="btn btn-small btn-primary ">Mehr lesen</a></p>
        </div>
    </div>
    <div class="fullbg-four">
        <div class="teaser">
            <h2>Was unsere Kunden</h2>
            <h2>über unsere Produkte sagen?</h2>
            <p><a href="/shop" class="btn btn-small btn-primary " style="color:#fff;">Mehr lesen</a></p>
        </div>
    </div>
    <div class="container">
        <div class="col-md-6">
            <img class="img-responsive" src="https://cdn02.plentymarkets.com/eq2lbkm7fl0m/frontend/Images/Homepage/Schokolade-Adozan-Genuss-Plus-1.png">
        </div>
        <div class="col-md-6">
            <h3>Leckere Schokoladen-Pralinen</h3>
            <h3>angereichert mit Energie und Proteinen.</h3>
            <h3>Der stärkende Happen für zwischendurch.</h3>
            <p><a href="/shop" class="btn btn-small btn-primary " style="color:#fff;">jetzt entdecken</a></p>
        </div>
    </div>
    <div class="fullbg-four">
        <div class="teaser">
            <h2>Newsletter abonnieren<br />und einen 10% Gutschein für<br />die nächste Bestellung sichern.</h2>
            <p><a href="/shop" class="btn btn-small btn-primary " style="color:#fff;">Hier anmelden</a></p>
        </div>
    </div>


{% endblock %}