/* Enter your CSS here */

.wrapper-main .navbar {
    background: white;
}

@media (min-width: 992px) {
    .brand-wrapper {
        position: relative;
    }
}

.navbar-brand img {
    max-height: 124px;
}

.wrapper-main #page-body {
    margin-top: 170px;
}

#mainNavbarCollapsable ul.mainmenu {
    color: #333;
    text-transform: uppercase;
    font-size: 16px;
}

#mainNavbarCollapsable ul.mainmenu>li:hover {
    background-color: #efefef;
    color: black;
}

#mainNavbarCollapsable ul.mainmenu>li>ul {
    background: #efefef;
}

#mainNavbarCollapsable ul.mainmenu>li>ul a {
    color: black;
}

#mainNavbarCollapsable ul.mainmenu>li>ul>li:hover {
    background: #636363;
}

#mainNavbarCollapsable ul.mainmenu>li>ul>li a:hover {
    color: white;
}

#mainNavbarCollapsable ul.mainmenu {
    margin-top: 80px;
}

.top-bar .controls-list>li a:hover,
.top-bar .controls-list>li a[aria-expanded=true] {
    background-color: #636363;
    color: #fff;
}

.top-bar .controls-list .control-basket .toggle-basket-preview {
    background-color: #636363;
}

.top-bar .controls-list .control-basket .toggle-basket-preview:hover {
    background-color: #636363;
}

.anicon.anicon-search-xcross[aria-expanded=false]:hover>.anicon-search-item:after {
    background: #636363;
}

.fullbg-one {
    max-width: 100%;
    height: 500px;
    background-image: url(https://cdn02.plentymarkets.com/eq2lbkm7fl0m/frontend/Images/Homepage/Adosan-158gullys.png);
    background-size: cover!important;
    background-position: center center;
}

.fullbg-two {
    max-width: 100%;
    height: 500px;
    background-image: url(https://cdn02.plentymarkets.com/eq2lbkm7fl0m/frontend/Images/Homepage/Adosan-115gullys.png);
    background-size: cover!important;
    background-position: center center;
}

.fullbg-black {
    background-color: black;
    max-width: 100%;
    height: 500px;
    color: #dfd4be;
}

.fullbg-black .ffs-bs .btn-primary {
    background-color: #dfd4be!important;
    color: #000!important;
}

.fullbg-three {
    max-width: 100%;
    height: 500px;
    background-image: url(https://cdn02.plentymarkets.com/eq2lbkm7fl0m/frontend/Images/Homepage/Adosan-158gullys.png);
    background-size: cover!important;
    background-position: center center;
}

.bg-center {
    max-width: 100%;
    height: 450px;
    padding-top: 25px;
    background-size: cover!important;
    background-position: center center;
    /* border-bottom: 1px solid #bfbfbf; */
}

.bg-center img {
    display: block;
    margin: 0 auto;
}

.fullbg-four {
    color: #fff!important;
    text-shadow: 0 0 11px #000;
    max-width: 100%;
    height: 500px;
    background-image: url(https://cdn02.plentymarkets.com/eq2lbkm7fl0m/frontend/Images/Homepage/Adozan.png);
    background-size: cover!important;
    background-position: center center;
}

.btn-primary {
    background-color: #000!important;
    margin-top: 50px;
}

.teaser {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
}

.teaser h2 {
    font-weight: bold;
}

.teaser p {
    font-size: 16px;
}